html {background-color: white;
    color: rgb(70, 70, 70)}
body {margin: 0;
    font-size: 25px;
    font-family:'Heebo', sans-serif;
    font-weight: normal;}
h1 {font-family: 'Playfair Display', serif;
    text-transform: lowercase;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 2px;}
h2 {font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #1f1f1f;}
.container {background-color: #e3c268;
            height: 175px;
            text-align: center;
            color: #1f1f1f;
            font-size: 25px;}
.button {background-color: white;
        font-family: 'Josefin Sans', sans-serif;
        border: 1px solid white;
        color: rgb(49, 49, 49);
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        font-weight: bold;
        transition-duration: all 0.2s}
.button:hover {color: darkgray;}
.button:active {color: rgb(88, 88, 88);}
.body {font-weight: bold;
        width: 800px;
        margin: 25px 50px 75px 100px}
.cupping-image {background-color: #e3c268;
            background-image: url("/Users/adrianachavez/Documents/cupping-project/images/cupping.jpg");
            padding: 25px;
            height: 300px;
            text-align: left;
            background-position: center;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;}
/* NEW TASTING PAGE STYLE*/
.body1 {width: 800px;
        margin: 25px 50px 75px 100px}
.container-ci {background-color: rgb(247, 243, 239);
            padding: 25px;
            width: 400px;
            border: 2px solid #e3c268;}
input[type=radio] {font-size: 20px;
                    margin: 0;
                    padding: 0;}
input [type=text] {width: 100%;
                    padding: 3px 3px;
                    box-sizing: content-box;
                    margin: 0;}
select {width: 100%;
        font-size: 15px;
        padding: 10px;}
h3 {font-family: 'Roboto Slab', serif;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;}
